$base-color: #eee;

@mixin shadow($color, $size: 5px) {
  -moz-box-shadow: 0 0 $size $color;
  -webkit-box-shadow: 0 0 $size $color;
  box-shadow: 0 0 $size $color;
}

@import "base";
@import "module";
@import "state";