$nav-height: 40px;

.nav-wrapper {
  border-bottom: 1px solid #ddd;
  background: white;
}

.navbar {
  height: $nav-height;
  line-height: $nav-height;
  margin-bottom: 0;
  padding-bottom: 0;
  
  > .brand {
    font-size: 30px;
    
    a {
      color: #222;
    }
  }
  
  a {
    margin-left: 10px;
  }
  
  .question {
    line-height: 17px;
    font-size: 15px;
  }
}

.content-bar {
  height: 25px;
  line-height: 25px;
  margin-bottom: 15px;
  
  a {
    color: #222;
    margin-left: 10px;
  }
}

.box-wrapper {
  display: inline-block;
  margin-bottom: 25px;
}

.box {
  margin: 0 30px;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  min-height: 300px;
  text-align: left;
  cursor: pointer;
}

.footer {
  margin-top: 15px;
  background: white;
  border-top: 1px solid #bbb;
  line-height: 30px;
  height: 30px;

  a {
    color: black;
  }
}

.project-box {
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  @include shadow(#888, 2px);

  .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
}